<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserRoleService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:43691/UserRoleService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserRoleService"
                contract="SRUserRole.IUserRoleService" name="WSHttpBinding_IUserRoleService" />
        </client>
    </system.serviceModel>
</configuration>